.part-title{
    width: 8%;
    height: auto;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.part-description{
    width: 92%;
    height: auto;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
}
@media only screen and (max-width: 1026px) {

    .part-title{
        width:18%
    }
    .part-description{
        width:82%;
    }
}