.rectanglemonthlyincome {
  width: 98%;
  margin-left: 15px;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.topic-left-income {
  float: left;
  display: flex;
  width: 40%;
  padding-left: 15px;
}
.topic-right-income {
  width: 60%;
}
.contentmonthlyincome {
  font-size: 20px;
  font-family: "PT Sans, sans-serif";
  color: #007c7e;
  padding-left: 20px;
  text-align: left;
  height: auto;
  padding-top: 5px;
}
.btn-right-income {
  float: right;
  display: flex;
}
.detailed-btn-income {
  font-size: 15px;
  font-family: "PT Sans, sans-serif";
  color: #007c7e;
  width: 100px;
  background-color: white;
  border-color: #007c7e;
  border-style: solid;
  height: auto;
  margin-right: 20px;
  border-radius: 20px;
}
.detailed-btn-income:hover {
  background-color: #007c7e;
  color: white;
}
.containerincome {
  width: 100%;
  height: auto;
  background-color: #F8F8FF;
}
.formincome {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding-top: 10px;
}
.formselect {
  padding-right: 10px;
  width: 60%;
}
.btncreate {
  display: flex;
}
.input-month{
  margin-left:40px
}
.form-monthIncome{

}
.input-earnIncome{
  margin-left:15px;
  width:60%;

}
.select-branchid{
  margin-left:20px;
}
.searchachd{
  padding-right: 10px;
    width: 60%;
}
@media only screen and (max-width: 1026px) {
  .searchachd{
    width:30%;
  }
  .containerincome {
    height: auto;
  }
  .select-branchid{
    position:relative;
    left:-20px;
  }
  .branchid-2{
    padding-left: 20px;
  }
  .earn-income{
    padding-left: 20px;
  }
  .input-earnIncome{
    position:relative;
    left:-17px;
  }
  .input-month{
    position:relative;
    left:-10px;
  }
  .form-monthIncome{
    padding-left:15px;
  }
  .topic-left-income {
    width: 100%;
  }
  .svg-inline--fa.fa-w-20 {
    width: 0.75em;
  }
  .topic-right-income {
    width: 50%;
  }
  .formincome {
    display: block;
  }
  .btn-right-income {
    padding-bottom: 10px;
    width: 100%;
    padding-left: 15px;
  }
  .contentmonthlyincome {
    font-size: 12px;
    width: 80%;
  }
  .formselect {
    width: 40%;
  }
  .detailed-btn-income {
    font-size: 12px;
    width: 15%;
  }
  .rectanglemonthlyincome {
    width: 94%;
  }
  .ant-input {
    width: 88%;
  }
  .selectcreate {
    width: 10px;
  }
  .ant-form-item .ant-select {
    width: 88%;
  }
  .btncreate {
    width: 100%;
    padding-left: 160px;
  }
}
