.col-12{
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    width: 70%;
    padding-left: 250px;
}
.col-13{
        width: 100%;
    height: auto;
    padding-top: 20px;
    padding-left:250px;
}
.col-11{
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    width: 70%;
    padding-left: 250px;
}
@media only screen and (max-width: 1026px) {
    .col-12{
        width: 100%;
        padding-left: 150px;
    }
    .col-13{
        padding-left: 35px
    }
    .col-11{
            width: 100%;
    padding-left: 110px;
    }
    
}   