.rectanglerules{
    width:98%;
    margin-left: 15px;
    height:auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.topic-left-rules1{
    float: left;
    width:40%;
    display: flex;
    padding-left: 16px;
}
.topic-right-rules1{
    width:60%;
}
.contentrules{
    font-size: 20px;
    font-family: "PT Sans, sans-serif";
    color:#007c7e;
    padding-left: 20px;
    height:auto;
    text-align: left;
    padding-top: 5px;

}
.btn-right-rules{
    float:right;
    display: flex;
}
.detailed-btn-rules{
    font-size: 15px;
    font-family: "PT Sans, sans-serif";
    color:#007c7e;
    width:100px;
    background-color: white;
    border-color: #007c7e;
    border-style: solid;
    height:auto;
    margin-right:20px;
    border-radius:8px;
}
.detailed-btn-rules:hover{
    background-color: #007c7e;
    color:white;
}
.containercontainerrules{
    width: 100%;
    height: auto;
    background-color: #F8F8FF;
}
.btncreaterules{
    display: flex;
}
.rules-input-name{
    margin-left:20px;
     width:59%;
    border-radius: 8px;
}
.input-description-rules{
    margin-left: 10px;
    width:60%;
    border-radius: 8px;
}
@media only screen and (max-width: 1026px) {
  .containercontainerrules{
  }
  .rectanglerules{
      width:94%;
  }
  .topic-left-rules1{
       width:60%;
  }
  .topic-right-rules1{
      width:40%
  }
  .contentrules{
      font-size: 12px;
  }
  .btncreaterules{
      width:100%;
      padding-left: 10px;
  }
  .name-rules{
      padding-left:10px;
  }
  .rules-input-name{
      position:relative;
      left:-15px;
  }
  .name-description-rules{
      padding-left:10px;
  }
  .input-description-rules{
      position:relative;
      left:-10px;
  }
}