.rectangleusers {
  width: 98%;
  margin-left: 15px;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.topic-left-user {
  float: left;
  display: flex;
  /* width: 40%; */
  padding-left: 15px;
  width: 80%;
}
.topic-right-user {
  width: 20%;
  display: flex;
}
.contentusers {
  font-size: 20px;
  font-family: "PT Sans, sans-serif";
  color: #007c7e;
  padding-left: 20px;
  height: auto;
  padding-top: 5px;
  text-align: left;
}
.element-selectuser {
width: 40%;
    text-align: center;
    padding-left: 80px;

}
.element2-selectuser {
  width: 35%;
  text-align: right;
}
.btn-right-user {
 width: 20%;
    height: auto;
    padding-left: 120px;
}
.detailed-btn-user {
  font-size: 15px;
  font-family: "PT Sans, sans-serif";
  color: #007c7e;
  width: 100px;
  background-color: white;
  border-color: #007c7e;
  border-style: solid;
  height: auto;
  margin-right: 20px;
  border-radius: 20px;
}
.detailed-btn-user:hover {
  background-color: #007c7e;
  color: white;
}
.sumusser {
  width: 100%;
  height: auto;
  background-color:#F8F8FF;
}
.btnbtnussers {
  display: flex;
}
.padding-table{
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.row-1{
        display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding-top: 20px;

}
.input-userName12{
  margin-left:20px;
}
.input-password12{
  margin-left:25px;
  width:20vw;
}
.input-email12{
  margin-left: 50px;
  width:20vw;
}
.input-fullName12{
  margin-left:25px
}
.radio-sex12{
  margin-left:28px;
}
.input-job12{
  margin-left:20px;
}
.input-address12{
  margin-left:40px;
  width: 20vw;
}
.input-phoneno12{
}
.select-roleid12{
  margin-left: 40px;
}
 .btn-updae-us12{
   margin-left: 54px; 
   width: 70%;
  }
  .datepicker-checkindate{
    margin-left: 20px;
  }
  .datepicker-checkoutdate{
    margin-left: 12px;
  }
  .form-checkindate{

  }
  .input-username-2{
    margin-left: 43px;
    width:20vw;

  }
  .input-username-24{
    margin-left: 43px;
    width:20vw;

  }
   .input-username-223{
    margin-left: 43px;
    width:20vw;

  }
  .select-roomNo{
    margin-left:60px;
    width:20vw;
  }
   .select-roomNo12{
    margin-left:60px;
    width:20vw;
  }
  .form-userName-2{
  }
  .element-btn{
    padding-left: 35px;
    width: 20%;
  }
@media only screen and (max-width: 1026px) {
  .form-checkindate{
    padding-left:20px
  }
  .form-checkoutdate{
        padding-left:20px

  }
  .datepicker-checkoutdate{
    position: relative;
    left:-10px;
  }
  .select-roomNo{
    position:relative;
    left:-60px
  }
   .select-roomNo12{
    position:relative;
    left:40px
  }
  .input-phoneno12{
    position:relative;
    left:33px
  }
  .form-roomnous2{
    padding-left: 20px;
  }
  .input-username-2{
    position:relative;
    left:-36px;
    width:50vw;
  }
  .input-username-24{
    position:relative;
    left:-5px;
  }
  .input-username-223{
        position: relative;
    left: 20px;
    width: 35vw;
  }
  .form-userName-2{
    padding-left:20px
  }
  .datepicker-checkindate{
    position: relative;
    left:-22px
  }
  .abcd{
    font-size:10px ;
  }
  .topic-left-user {
    width: 100%;
  }
  .form-phoneno{
    padding-left:20px;
  }
  .form-roleid{
    padding-left:20px;
  }
  .select-roleid12{
    position:relative;
    left: -7px;
  }
  .btn-updae-us12{
    position: relative;
    left:-13px
  }
  .form-img-us{
    padding-left:26px;
  }
  .form-fullName{
    padding-left:20px;
  }
  .input-fullName12{
    position:relative;
    left:-10px;
  }
  .form-email{
    padding-left:35px;
  }
  .form-job{
    padding-left: 20px;
  }
  .form-address{
    padding-left: 20px;
  }
  .input-address12{
    position:relative;
    left:-10px;
  }
  .input-job12{
    position:relative;
    left: -5px;
  }
  .form1-sex1{
    padding-left:20px;
  }
  .radio-sex12{
    position:relative;
    left:-13px;
  }
  .input-email12{
    position:relative;
    left:-13px;
  }
  .form-password{
    padding-left:20px
  }
  .input-password12{
    position:relative;
    left:-5px;
  }
  .btn-existed{
    position:relative;
    bottom: -40px;
    left: -100px;
    
  }
  .form-userName{
    padding-left:20px;
  }
  .input-userName12{
    position:relative;
    left:-5px;
  }
  .padding-table{
      padding-right:10px ;
      width: 80%;
  }
  .row-1{
      display: block;
  }
  .contentusers {
    font-size: 12px;
    width: 100%;
  }
  .topic-right-user {
    width: 100%;
    padding-left: 15px;
  }
  .btn-right-user {
    width: 20%;
  }
  .detailed-btn-user {
    font-size: 12px;
    width: 80%;
  }
  .sumusser {
    height: auto;
  }
  .rectangleusers {
    width: 94%;
  }
  .btnbtnussers {
    width: 100%;
    padding-left: 170px;
  }
  .ant-form-item-control-input {
    width: 88%;
  }
  .element-selectuser{
    width:30%;
  }
  .element2-selectuser{
    width:30%;
  }
  .element-btn{
    position: relative;
    top: -40px;
    left: 30px;
  }
}
