.row-acv{
    padding-left: 6vw;
}
.title-info{
    width: 100%;
    height: auto;
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: left;
    padding-left: 270px;
}
@media only screen and (max-width: 1026px) {
    .row-acv{
        padding-left: 40px;
    }
    .title-info{
        padding-left:10px;
    }
}