.rectangle{
    width:98%;
    height:auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
}
.topic-left{
    float: left;
    display: flex;
    width: 90%;
    padding-left:15px
}
.content{
    font-size: 20px;
    font-family: "PT Sans, sans-serif";
    color:#007c7e;
    padding-left: 20px;
    text-align: left;

}
.btn-right{
    float:right;
    display: flex;
    width: 10%;
}
.detailed-btn-role{
    font-size: 15px;
    font-family: "PT Sans, sans-serif";
    width:80%;
    background-color: white;
    border-color: #007c7e;
    border-style: solid;
    height:auto;
    margin-right:20px;
    border-radius:8px;
}
.detailed-btn:hover{
    background-color: #007c7e;
    color:white;
}
@media only screen and (max-width: 1026px) {
    .topic-left{
        width: 60%;
    }
    .btn-right{
        width:40%;
    }
    .roles-us2{
        padding-left:20px
    }
    .input-role{
        position:relative;
        left:7px;
    }
    .content{
        font-size:15px;
    }
    
}