.box-foot {
  width: 100%;
  height: auto;
  background-color: #efefef;
  display: flex;
  justify-content: center;
}
.middle-foot {
  width: 80%;
  height: auto;
}
.img-icon {
  height: auto;
  width: 80%;
}
.content-icon-first {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 15px;
  font-family: "PT Sans", sans-serif;
  padding-top: 10px;
  padding-left: 20px;
}
.icon-social {
  width: 85%;
  height: auto;
  display: flex;
  justify-content: center;
}
.topic-title {
  width: 80%;
  height: auto;
  display: flex;
  padding-top: 10px;
  
}
.topic-title2{
  width: 80%;
  height: auto;
  display: flex;
  padding-top: 10px;
  
}
.char {
  width: 15px;
  height: 15px;
  background: #007c7e;
  box-shadow: 0 5px 9px #ccc;
    position:relative;
    top:5px;
    right:-5px;
}
.content-title {
  width: 65%;
  height: auto;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  padding-right: 120px;
  font-family: "PT Sans", sans-serif;
  padding-left:15px;
}
.content-title2 {
  width: 65%;
  height: auto;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  padding-left: 15px;
  padding-right: 120px;
  font-family: "PT Sans", sans-serif;
  
}
.col{
  padding-left: 120px;
}
.href-page{
    width:80%;
    height:auto;
    color: #007c7e;
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    border-bottom: dotted 1px gray;
    text-align: left;
    padding-top: 10px;
    cursor: pointer;
}
.href-page:hover{
    color:#eb2f5b;
}
.icon{
  width:10%;
  height: auto;
}
.hotline{
  /* style={{ color: "#007c7e", paddingRight: "20px" }} */
  color:#007c7e;
  padding-right: 20px;
  padding-left: 10px;
}
.email{
   color:#007c7e;
  padding-right: 20px;
  padding-left: 10px;
  width:100%;
}
.display-col-2{
  display: block;
}
@media only screen and (max-width: 1026px) {
  .icon{
    width: 30%;
  }
  .display-col-2{
        padding-left: 20px;
  }
  .content-title{
    padding-left: 12px;
    width:40vw;
  }
  .email{
    padding-left:12px;
  }
  .col{
    padding-left: initial;
  }
  .content-title2{
    width: 40vw;
    padding-left: 10px;
  }
  .href-page{
    width:100%;
  }
  .hotline{
    padding-left: 12px;
  }
  .img-icon{
    width: 100%;
  }
  .icon-social{
    padding-top: 10px;
    padding-left: 20px;
  }
}