.col-1-1{
    width: 9%;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
}
.col-1-2{
    width: 91%;
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    text-align: left;
    padding-left: 15px;
}
.col-2-1{
    width: 10%;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
}
.col-2-2{
    width: 90%;
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    text-align: left;
    padding-right: 15px;
    padding-left: 5px;
}
@media only screen and (max-width: 1026px) {
    .col-2-1{
        width:19%;
    }
    .col-2-2{
        width: 81%;
    }
    .col-1-1{
        width:17%;
    }
    .col-1-2{
        width:83%;
        text-align: left;
    }
}   